<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <!-- CSSファイルをstaticフォルダから読み込む -->
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>サインアップ</h2>
        <form method="post">
            {% csrf_token %}
            <!-- フォームエラーがある場合、エラーメッセージを表示 -->
            {% if form.errors %}
              <div class="error-message" style="border: solid 3px f00; ">
                  <ul>
                      {% comment %} {% for field in form %} {% endcomment %}
                          {% for error in field.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      {% comment %} {% endfor %} {% endcomment %}
                  </ul>
              </div>
            {% endif %}
            {{ form.as_p }}
            <button type="submit">送信</button>
        </form>
    </div>
</body>
</html>

